img{
    width: 200px;
}


.container{
    display: flex;
    justify-content: flex-start; /* podemos utilizar as propriedades flex-start, para que os itens comecem da esquerda para direita, flex-end para o oposto e "center" para centralizar */
    /* flex-direction: row-reverse; /* altera a ordem dos elementos ao contrário ou seja, olhamos a linha da direita para esquerda */  
    flex-direction: column;  /* Com a propriedade reverse, temos a troca de lado dos elementos */
    align-items: flex-start; 
}